.NavBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* background-color: black; */
    min-height: 3rem;
    padding: 1rem 0;
    z-index: 100;
}

.NavBar div {
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.NavBar div ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    color: white;
}

.NavBar div h2 {
    padding: 0;
    margin: 0;
    color: yellow;
    text-transform: uppercase;
    font-size: 1.5rem;
}